.Options
{
    
    
    color: gray;
    font-weight: bold;
    padding: 1%;
    
    background-color: beige;
    border-radius: 0.5rem;
}
.option
{
    padding:0.5%;
    margin: 0.5%;
    background-color: lightblue;
    color: darkgray;
    font-weight: bold;
    border-radius: 0.5rem;
}